
<router-outlet></router-outlet>
<!--table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{element.position}}</td>
  </ng-container>

  <ng-container matColumnDef="table1">
    <th mat-header-cell *matHeaderCellDef>11111111111Card</th>
    <td mat-cell *matCellDef="let element">
      <mat-card class="democard">
        <mat-card-header>
          <mat-card-title><img src="assets/DAK_LOGO.png"  (click)="showAlerte(element.weight)"/></mat-card-title>
          <mat-card-subtitle>{{element.weight}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>  </mat-card-content>
      </mat-card>
    </td>
  </ng-container>
  <ng-container matColumnDef="table2">
    <th mat-header-cell *matHeaderCellDef>222222222Card</th>
    <td mat-cell *matCellDef="let element">
      <mat-card class="democard">
        <mat-card-header>
          <mat-card-title><img src="assets/DAK_LOGO.png" /></mat-card-title>
          <mat-card-subtitle>{{element.weight}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>  </mat-card-content>
      </mat-card>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table -->


